<div class="col-md-2 sidebar p-3">
    <h6 class="text-white">Menu</h6>
    <a href="/"><i class="bi bi-speedometer2"></i> Dashboard</a>
    <a href="/chamados"><i class="bi bi-ticket"></i> Chamados</a>
    <a href="/novo-chamado"><i class="bi bi-plus-circle"></i> Novo Chamado</a>

    <!-- Só aparece para ADMIN (feito no front via JS) -->
    <a href="/usuarios" id="menuUsuarios" class="d-none">
        <i class="bi bi-people"></i> Criar Usuário
    </a>
</div>