<div class="col-md-2 sidebar p-3">
    <h6 class="text-white">Menu</h6>

    <a href="/"><i class="bi bi-speedometer2"></i> Dashboard</a>
    <a href="/chamados"><i class="bi bi-ticket"></i> Chamados</a>
    <a href="/novo-chamado"><i class="bi bi-plus-circle"></i> Novo Chamado</a>

    <!-- Só aparece para ADMIN -->
    <a href="/usuarios" id="menuUsuarios" class="d-none">
        <i class="bi bi-people"></i> Gestão de Usuários
    </a>

    <!-- Só aparece para ADMIN -->
    <a href="/clientes" id="menuClientes" class="d-none">
        <i class="bi bi-building"></i> Gestão de Clientes
    </a>

    <!-- Só aparece para ADMIN -->
    <a href="/gestao-categorias" id="menuCategorias" class="d-none">
        <i class="bi bi-tags"></i> Gestão de Categorias
    </a>

    <!-- Só aparece para ADMIN -->
    <a href="/gestao-grupos" id="menuGrupos" class="d-none">
        <i class="bi bi-collection"></i> Gestão de Grupos
    </a>
</div>